{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

	<div class="accounts_content">
		<div class="cards">
			<button class="cards_title toggle-button">
				<span>Карты и счета</span>
				<svg class="accounts_arrow" xmlns="http://www.w3.org/2000/svg" width="10" height="8" viewBox="0 0 10 8" fill="none">
					<path d="M5 8L0.669872 0.5H9.33013L5 8Z" fill="currentColor"/>
				</svg>
			</button>
			<div class="dropdown dropdown-content">
				<div class="cash">
					<div>
						<img class='cash_img' src="{% static 'Images/accounts/cash.png' %}">
						<span class='cash_title'>Наличные</span>
					</div>
					<span class="cash_money">1500,00 ₽</span>
				</div>
			</div>
		</div>

		<img class='accounts_line' src="{% static 'Images/accounts/line.png' %}">

		<div class="access">
			<button class="access_title toggle-button">
				<span>Накопления</span>
				<svg class="accounts_arrow" xmlns="http://www.w3.org/2000/svg" width="10" height="8" viewBox="0 0 10 8" fill="none">
					<path d="M5 8L0.669872 0.5H9.33013L5 8Z" fill="currentColor"/>
				</svg>
			</button>
			<div class="dropdown dropdown-content">
				<div class="cash">
					<div>
						<img class='cash_img' src="{% static 'Images/accounts/cash.png' %}">
						<span class='cash_title'>Наличные</span>
					</div>
					<span class="cash_money">3200,00 ₽</span>
				</div>
			</div>
		</div>

		<img class='accounts_line' src="{% static 'Images/accounts/line.png' %}">

		<div class="debts">
			<button class="debts_title toggle-button">
				<span>Долги</span>
				<svg class="accounts_arrow" xmlns="http://www.w3.org/2000/svg" width="10" height="8" viewBox="0 0 10 8" fill="none">
					<path d="M5 8L0.669872 0.5H9.33013L5 8Z" fill="currentColor"/>
				</svg>
			</button>
			<div class="dropdown dropdown-content">
				<div class="cash">
					<div>
						<img class='cash_img' src="{% static 'Images/accounts/cash.png' %}">
						<span class='cash_title'>Наличные</span>
					</div>
					<span class="cash_money">3200,00 ₽</span>
				</div>
			</div>
		</div>

		<img class='accounts_line' src="{% static 'Images/accounts/line.png' %}">

		<div class="loans">
			<button class="loans_title toggle-button">
				<span>Кредиты</span>
				<svg class="accounts_arrow" xmlns="http://www.w3.org/2000/svg" width="10" height="8" viewBox="0 0 10 8" fill="none">
					<path d="M5 8L0.669872 0.5H9.33013L5 8Z" fill="currentColor"/>
				</svg>
			</button>
			<div class="dropdown dropdown-content">
				<div class="cash">
					<div>
						<img class='cash_img' src="{% static 'Images/accounts/cash.png' %}">
						<span class='cash_title'>Наличные</span>
					</div>
					<span class="cash_money">3200,00 ₽</span>
				</div>
			</div>
		</div>
	</div>

	<script>
	document.addEventListener('DOMContentLoaded', function () {
	    const buttons = document.querySelectorAll('.toggle-button');

	    buttons.forEach(button => {
	        const dropdown = button.nextElementSibling;

	        button.addEventListener('click', function () {
	            button.classList.toggle('active');

	            if (dropdown.style.height && dropdown.style.height !== '0px') {
	                dropdown.style.height = dropdown.scrollHeight + 'px';
	                requestAnimationFrame(() => {
	                    dropdown.style.height = '0px';
	                });
	            } else {
	                dropdown.style.height = dropdown.scrollHeight + 'px';
	                dropdown.addEventListener('transitionend', function handler() {
	                    dropdown.style.height = 'auto';
	                    dropdown.removeEventListener('transitionend', handler);
	                });
	            }
	        });
	    });
	});
	</script>

{% endblock %}
